<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MiniOrange_IpRestriction::iprestriction"
             title="miniOrange IP Restriction"
             module="MiniOrange_IpRestriction"
             sortOrder="61"
             resource="MiniOrange_IpRestriction::iprestriction"/>
        <add id="MiniOrange_IpRestriction::ip_restriction"
             title="IP Restriction"
             module="MiniOrange_IpRestriction"
             sortOrder="2"
             parent="MiniOrange_IpRestriction::iprestriction"
             action="iprestriction/iprestrict"
             resource="MiniOrange_IpRestriction::ip_restriction"/>
        <add id="MiniOrange_IpRestriction::upgrade"
             title="Upgrade"
             module="MiniOrange_IpRestriction"
             sortOrder="4"
             parent="MiniOrange_IpRestriction::iprestriction"
             action="iprestriction/upgrade"
             resource="MiniOrange_IpRestriction::upgrade"/>
    </menu>
</config>

