<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="MiniOrange_IpRestriction::iprestriction" title="miniOrange IP Restriction Extension" sortOrder="61">
                        <resource id="MiniOrange_IpRestriction::ip_restriction" title="IP Restriction" sortOrder="2"/>
                        <resource id="MiniOrange_IpRestriction::geoip_download" title="GeoIP Download" sortOrder="3"/>
                        <resource id="MiniOrange_IpRestriction::upgrade" title="Upgrade" sortOrder="5"/>
                        <resource id="MiniOrange_IpRestriction::support" title="Support" sortOrder="6"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>

